.camperList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.loadMoreButton {
  width: 145px;
  height: 56px;
  border: 1px solid #dadde1;
  border-radius: 200px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #101828;
  margin-top: 40px;
}
.loadMoreButton:hover {
  border-color: #d84343;
}
.camperListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
