.camperDetailsPageContainer {
  margin-left: 64px;
  margin-right: 64px;
}

.detailTabsContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.tabs {
  display: flex;
  gap: 24px;

  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 44px;
}

.tab {
  margin-top: 60px;
  background: none;
  border: none;
  margin-right: 40px;
  padding-bottom: 24px;
  font-size: 20px;
  cursor: pointer;
  color: #101828;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.tab.active {
  font-weight: 600;
}

.tab.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #e44848; /* kırmızı çizgi */
  position: absolute;
  bottom: -1px;
  left: 0;
}
