p {
  margin: 0;
}

.camperDetailContainer {
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin-top: 48px;
}
h2 {
  font-weight: 600;
  font-style: 24px;
  line-height: 32px;
  color: #101828;
  margin: 0;
}
.camperTitleReviewsLocation {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-style: 16px;
  line-height: 24px;
  color: #101828;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.camperTitleReviews {
  display: flex;
  flex-direction: row;
  /* text-decoration: underline; */
}
.camperTitleLocation {
  display: flex;
  flex-direction: row;
}
.camperDetailGallery {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.camperDetailGallery img {
  width: 292px;
  height: 312px;
  border-radius: 10px;
}
.camperDetailDescription {
  color: #475467;
  font-weight: 400;
  font-style: 16px;
  line-height: 24px;
}
