/* .navBarContainer {
  height: 72px;
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBarList {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #101828;
}

.active {
  color: #d84343;
  text-decoration: none;
} */

.navBarContainer {
  background-color: #f7f7f7;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 64px; /* LOGO soldan 64px */
  position: relative; /* ortalama için gerekli */
}

/* Menü ortalamak için */
.navBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navBarList {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #101828;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.active {
  color: #d84343;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Logo {
  width: 135px;
  height: 14px;
}
