/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.box {
  border: 1px solid #dadada;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease;
  background: #fff;
}

.box:hover {
  border-color: #ff3d3d;
}

.box.active {
  border-color: #e44848;
  background: #fff;
}

.box span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #383838;
} */

.filters {
  margin-left: 64px;
  font-family: "Inter", sans-serif;
}

.filtersContainer {
  width: 360px;
}

.firstFilter {
  display: flex;
  flex-direction: column;
}
.firstFilter label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c717b;
  margin-bottom: 8px;
}
.firstFilter input {
  height: 56px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: none;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.filterText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  letter-spacing: 0%;
  font-style: medium;
  margin-bottom: 32px;
  margin-top: 0;
}

.secondFilter h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
  margin-bottom: 24px;
  margin-top: 0;
}

hr {
  border: 1px solid #dadde1;
  margin: 0;
}
.filterOptions {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;
  margin-top: 24px;
}
.box {
  width: 112px;
  height: 96px;
  color: #101828;
  border: 1px solid #dadde1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box.active {
  border-color: #e44848;
}

.thirdFilter h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
  margin-top: 32px;
}

.box span {
  margin-top: 8px;
}

/* fully integrated sola yaslı neden ? */
/* .thirdFilter .box :nth-child(2) span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
} */

.filtersButton {
  background-color: #e44848;
  width: 166px;
  height: 56px;
  border-radius: 200px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05em;
  margin-top: 40px;
}

.filtersButton:hover {
  background-color: #d84343;
}
