.homePageContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.homePage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/Picture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-left: 64px;
  padding-top: 260px;
}

.homePageTitle {
  color: #f7f7f7;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  width: 571px;
}
.homePageTitle h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
.homePageTitle h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.homePageButton {
  width: 173px;
  height: 56px;
  background-color: #e44848;
  border-radius: 200px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-family: "Inter", sans-serif;
}
.homePageButton :hover {
  background-color: #d84343;
  cursor: pointer;
}
